<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Runners</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Average Pace</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="runner : ${runners}">
            <td th:text="${runner.runnerId}"></td>
            <td th:text="${runner.runnerName}"></td>
            <td th:text="${runner.averagePace}"></td>
            <td>
                <a th:href="@{/runner/{id}(id=${runner.runnerId})}" class="btn btn-primary">View</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
